src/git-cli-utilities/.npmignore

node_modules
dist
build
*.log
*.ts
*.js.map
*.d.ts
*.tsbuildinfo
coverage
.vscode
.idea
*.iml
.DS_Store
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
examples
bin